
<div class="container mx-auto">
    <mat-card>
        <div class="text-center mb-3">
            <mat-card-title>Create a Quote</mat-card-title>
        </div>
        <form [formGroup]="service.form" class="normal-forms">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Write Your Quote*</mat-label>
                <textarea formControlName="quote" matInput placeholder="You only leave once..."></textarea>
                <mat-error>You need a quote</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Image Url</mat-label>
                <input matInput placeholder="mxz.jpg" formControlName="imgUrl"
                    value="https://scontent.fnbo10-1.fna.fbcdn.net/v/t1.6435-9/217873824_1877770772400455_8984723015930928115_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=730e14&_nc_eui2=AeFSKCSa5Ddi-zKorHmhLsihx0dj1KphZvHHR2PUqmFm8dT4wtFb2lXbmuS1UNnDR9XB3ELqXEp-loZN8WrmdBqh&_nc_ohc=OMO_6Grd8z4AX_vq6vv&_nc_pt=5&_nc_ht=scontent.fnbo10-1.fna&oh=47409bbecc9a22404315f5d984e0e523&oe=60F8B506">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Credits*</mat-label>
                <input formControlName="credit" matInput placeholder="Silas Silikhe">
                <mat-error>Give credits</mat-error>
            </mat-form-field>
            <div class="m-3">
                <!-- <app-button color="#F94637" col="red" text="Submit"></app-button> -->
                <button [disabled]="service.form.invalid" class="btn custom-btn rounded-pill">Submit</button>
                <div class="float-right icon" (click)="onClear()">
                    <i class="far fa-trash-alt"></i>
                </div>
            </div>
        </form>
    </mat-card>

</div>

