<input id="card-one" class="hidden" type="radio" name="ok-button" checked>
<input id="card-two" class="hidden" type="radio" name="ok-button">
<input id="card-three" class="hidden" type="radio" name="ok-button">

<div class="container">

    <div class="inner inner-one">
        <div class="box">
            <div class="triangle">
            </div>
            <p class="number">1</p>
            <div class="text">
                <i class="start-quote fas fa-quote-left"></i>
                <p class="quote">Develop a passion for learning. If you do, you will never cease to grow.</p>
                <p class="credit">Anthony J. D'Angelo</p>
            </div>
            <label class="button" for="card-two">
                <p>next quote</p>
            </label>
        </div>
    </div>

    <div class="inner inner-two">
        <div class="box">
            <div class="triangle">
            </div>
            <p class="number">2</p>
            <i class="start-quote fas fa-quote-left"></i>
            <p class="quote">An investment in knowledge pays the best interest.</p>
            <p class="credit"> Benjamin Franklin</p>
            <label class="button" for="card-three">
                <p>next quote</p>
            </label>
        </div>
    </div>

    <div class="inner inner-three">
        <div class="box">
            <div class="triangle">
            </div>
            <p class="number">3</p>
            <i class="start-quote fas fa-quote-left"></i>
            <p class="quote">I have no special talent. I am only passionately curious.</p>
            <p class="credit">Silas Silikhe</p>
            <label class="button" for="card-one">
                <p>next quote</p>
            </label>
        </div>
    </div>
</div>