

<div class="container mt-5 mb-5 mx-auto" *ngIf="quotes.length > 0;">
    <div class="row">
        <div class="col-md-4">
            <div class="containers p-2" *ngFor="let quote of quotes">
                <div class="card-carousel" (dbclick)="deleteQuote($event, quote)">
                    <header>
                        <span id="pagination-count" class="pagination-count">122</span>
                        <span class="view">
                            <i class="fas fa-thumbs-up"></i>
                        </span>
                        <span id="heart" class="heart">
                            <i class="fas fa-thumbs-down"></i>
                        </span>
                    </header>
                    <div id="twentyfive" class="content-wrapper twentyfive">
                        <div class="content">
                            <p class="quote">{{quote.quote}}</p>
                            <p class="author">- {{quote.credit}}</p>
                        </div>
                    </div>
                </div>
                <span id="hearted" class="hearted"></span>
            </div>
        </div>
    </div>
</div>

<div *ngIf="quotes.length == 0;" class="text-center mb-3 mx-auto container">
    <mat-card>
        <h4>No quotes created yet</h4>
    </mat-card>
</div>