<div class="container mt-5 mb-5 mx-auto">
    <div class="row">
        <div class="col-md-4">
            <div class="containers p-2">
                <div class="card-carousel">
                    <header>
                        <span id="pagination-count" class="pagination-count">122</span>
                        <span class="view">
                            <i class="fas fa-thumbs-up"></i>
                        </span>
                        <!-- <span class="view"></span> -->
                        <span id="heart" class="heart">
                            <i class="fas fa-thumbs-down"></i>                        </span>
                    </header>
                    <div id="twentyfive" class="content-wrapper twentyfive">
                        <div class="content">
                            <p class="quote">Details matter, it's worth waiting to get it right.</p>
                            <p class="author">- Steve Jobs</p>
                        </div>
                    </div>
                </div>
                <span id="hearted" class="hearted"></span>
                
                <!-- <div class="pagination">
                    <span id="prev" class="prev"></span>
                    <span id="next" class="next"></span>
                </div> -->
            </div>
        
            
        </div>
        <div class="col-md-4">
            <div class="containers p-2">
                <div class="card-carousel">
                    <header>
                        <span id="pagination-count" class="pagination-count">122</span>
                        <span class="view">
                            <i class="fas fa-thumbs-up"></i>
                        </span>
                        <!-- <span class="view"></span> -->
                        <span id="heart" class="heart">
                            <i class="fas fa-thumbs-down"></i>                        </span>
                    </header>
                    <div id="twentyfive" class="content-wrapper twentyfive">
                        <div class="content">
                            <p class="quote">Details matter, it's worth waiting to get it right.</p>
                            <p class="author">- Steve Jobs</p>
                        </div>
                    </div>
                </div>
                <span id="hearted" class="hearted"></span>
                
                <!-- <div class="pagination">
                    <span id="prev" class="prev"></span>
                    <span id="next" class="next"></span>
                </div> -->
            </div>
        
            
        </div>
        <div class="col-md-4">
            <div class="containers p-2">
                <div class="card-carousel">
                    <header>
                        <span id="pagination-count" class="pagination-count">122</span>
                        <span class="view">
                            <i class="fas fa-thumbs-up"></i>
                        </span>
                        <!-- <span class="view"></span> -->
                        <span id="heart" class="heart">
                            <i class="fas fa-thumbs-down"></i>                        </span>
                    </header>
                    <div id="twentyfive" class="content-wrapper twentyfive">
                        <div class="content">
                            <p class="quote">Details matter, it's worth waiting to get it right.</p>
                            <p class="author">- Steve Jobs</p>
                        </div>
                    </div>
                </div>
                <span id="hearted" class="hearted"></span>
                
                <!-- <div class="pagination">
                    <span id="prev" class="prev"></span>
                    <span id="next" class="next"></span>
                </div> -->
            </div>
        
            
        </div>
        <div class="col-md-4">
            <div class="containers p-2">
                <div class="card-carousel">
                    <header>
                        <span id="pagination-count" class="pagination-count">122</span>
                        <span class="view">
                            <i class="fas fa-thumbs-up"></i>
                        </span>
                        <!-- <span class="view"></span> -->
                        <span id="heart" class="heart">
                            <i class="fas fa-thumbs-down"></i>                        </span>
                    </header>
                    <div id="twentyfive" class="content-wrapper twentyfive">
                        <div class="content">
                            <p class="quote">Details matter, it's worth waiting to get it right.</p>
                            <p class="author">- Steve Jobs</p>
                        </div>
                    </div>
                </div>
                <span id="hearted" class="hearted"></span>
                
                <!-- <div class="pagination">
                    <span id="prev" class="prev"></span>
                    <span id="next" class="next"></span>
                </div> -->
            </div>
        
            
        </div>
    </div>
</div>