<div class="container mt-5 mb-5 mx-auto" *ngIf="quotes?.length > 0;else noItems">
    <div class="row">
        <div class="col-md-4">
            <div class="containers p-2">
                <div class="card-carousel" *ngFor= "let quote of quotes">
                    <header>
                        <span id="pagination-count" class="pagination-count">122</span>
                        <span class="view">
                            <i class="fas fa-thumbs-up"></i>
                        </span>
                        <span id="heart" class="heart">
                            <i class="fas fa-thumbs-down"></i>
                        </span>
                    </header>
                    <div id="twentyfive" class="content-wrapper twentyfive">
                        <div class="content">
                            <p class="quote">{{quote.quote}}</p>
                            <p class="author">- {{quote.credit}}</p>
                        </div>
                    </div>
                </div>
                <span id="hearted" class="hearted"></span>
            </div>
        </div>
    </div>
</div>

<ng-template #niItems>
    <!-- <mat-card> -->
        <div class="text-center mb-3 mx-auto container">
           <h4>No quotes created yet</h4>
        </div>
    <!-- </mat-card> -->
</ng-template>