*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.containers {
  font-family: helvetica, arial, sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  /* background-color: #ecf0f1; */
  color: #fff;
  font-weight: 100;
  /* box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2); */
  /* border-radius: 8px; */
}

.card-carousel {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-color: #2c3e50;
  width: 100%;
  height: 23rem;
  box-shadow: 0 30px 20px -10px rgba(0, 0, 0, 0.15);
}
.card-carousel:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 8px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.84);
}
.card-carousel header {
  position: absolute;
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 3em;
  line-height: 3em;
  padding: 0 1em;
  background-color: rgba(249, 70, 55, 0.84);
  z-index: 10;
}
.card-carousel header .view,
.card-carousel header .heart {
  position: absolute;
  top: 8px;
  height: 2rem;
  width: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  transition: border-color 0.2s ease;
  color: rgba(255, 255, 255, 0.5);
}
.card-carousel header .view:hover,
.card-carousel header .heart:hover {
  cursor: pointer;
  border-color: #fff;
  color: #fff;
}
.card-carousel header .view i {
  position: absolute;
  top: 5px;
  left: 6px;
}

.card-carousel header .heart i {
  position: absolute;
  top: 8px;
  left: 6px;
}

.card-carousel header .view {
  right: 3.5rem;
}

.card-carousel header .heart {
  right: 1rem;
}

.content-wrapper {
  position: absolute;
  padding-top: 2rem;
  height: 100%;
  transition: transform 1s ease;
}
.content-wrapper.twentyfive:before {
  width: 100%;
  background: url(http://i102.photobucket.com/albums/m104/GovernorFancyPants/Codepen/steve_jobs_zpsb8899f6c.png);
  background-size: cover;
}
.slide .content-wrapper.twentyfive {
  transform: translateX(-100%);
}
.content-wrapper:before {
  content: "";
  position: absolute;
  opacity: 0.2;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  left: 0;
}
.content-wrapper .content {
  position: relative;
  padding: 3rem;
  text-align: center;
}
.content-wrapper .content .quote {
  position: relative;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.content-wrapper .content .quote:before {
  content: "\f10d";
  font-family: FontAwesome;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  top: 8px;
  left: 6px;
  color: rgba(255, 255, 255, 0.2);
  font-size: 32px;
  top: -2rem;
  left: -1rem;
}
.content-wrapper .content name {
  line-height: 1.2;
}
.pagination {
  position: absolute;
  bottom: 0;
  height: 4em;
  width: 100%;
  padding: 1em;
  z-index: 10;
}
.pagination .prev,
.pagination .next {
  position: absolute;
  height: 2rem;
  width: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  transition: border-color 0.2s ease;
  cursor: pointer;
}
.pagination .prev:hover,
.pagination .next:hover {
  border-color: #fff;
}
.pagination .prev:before,
.pagination .next:before {
  font-family: FontAwesome;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  top: 8px;
  left: 6px;
}
.pagination .prev {
  left: 1rem;
}
.pagination .prev:before {
  content: "\f0d9";
  top: 7px;
  left: 10px;
}
.pagination .next {
  right: 1em;
}
.pagination .next:before {
  content: "\f0da";
  top: 7px;
  left: 13px;
}
.hearted {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 120px;
  height: 120px;
}
.like .hearted:before {
  content: "\f004";
  font-family: FontAwesome;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  top: 8px;
  left: 6px;
  font-size: 110px;
  line-height: 1;
  animation: heartbeat 1s linear 1 forwards;
}
.avatar {
  position: absolute;
  width: 100%;
  bottom: -2rem;
  text-align: center;
}
.avatar img {
  width: 100px;
  height: 100px;
  border: 4px solid #fff;
  border-radius: 100%;
  transition: opacity 2s ease;
}
.avatar img.twentyfive {
  opacity: 1;
}

@keyframes heartbeat {
  /*0% {
        font-size: 32px;
        opacity: 0;
   }
    25% {
        font-size: 48px;
        opacity: 1;
   }
    50% {
        font-size: 32px;
        opacity: .5;
   }
    75% {
        font-size: 48px;
        opacity: 1;
   }
    100% {
        font-size: 32px;
        opacity: 0;
   }
   */
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  40% {
    transform: scale(1, 1);
    opacity: 1;
  }
  50% {
    transform: scale(0.8, 0.8);
    opacity: 0.5;
  }
  60% {
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    transform: scale(0, 0);
    opacity: 0;
  }
}

/* .likes{
    position: absolute;
    top: 5px;
    left: 6px;
    color:#fff
 
}

.like{
    position: absolute;
    top: 5px;
    left: 6px;
 
} */

/* .card-carousel header .heart i{
    position: absolute;
    top: 8px;
    left: 6px;
} */

.date {
  position: absolute;
  bottom: 5px;
  right: 20px;
  color: #fff;
  font-style: italic;
  font-size: 13px;
}

.img-quote {
  width: 20%;
}

/* .cont{
    border-radius: ;
} */

@keyframes pulse {
    0%, 100% { 
      transform: scale(30%) translateY(-75%);
      background-color: rgba(249, 70, 55, 0.5);
    }
    33% {
      background-color: rgba(249, 70, 55, 0.5);
    }
    50% { 
      transform: scale(1.125) translateY(0);
      background-color: rgba(249, 70, 55, 0.5);
    }
  }
  /* .dot {
    animation: blink 2s infinite;
  } */

.trash-a {
  background: rgba(249, 70, 55, 0.5);
  padding: 20px;
  position: absolute;
  bottom: 15px;
  left: 30px;
  border-radius: 50%;
  animation: pulse 2.5s infinite;
  /* display: none; */
}

.trash {
  position: absolute;
  bottom: 9px;
  left: 13px;
}

.trash:hover {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(0deg);
  }
}

.trash-a:hover ~ .trash {
  background: yellow;
}

.first:hover ~ .second {
  background-color: tomato;
}


