.background {
  padding-bottom: 50px;
  height: 100%;
  background-image: url("../../../assets/images/background.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;
  background-size: cover;
  width: 100%;
}
