
nav {
    background: transparent !important;
    z-index: 1000;
}

.fixed {
  position: fixed;
  width: 100%;
  transition: 0.2s linear;
  top: 0;
  background: #fff !important;
}

.nofixed {
  position: static;
  transition: 0.2s linear;
  top: -50px;
  background: transparent;
  border: none !important;
  color: #fff !important;
}

.fixed a{
  color:black !important;
}
.nofixed a{
  color: #fff !important;
}



.nofixed a:hover, .fixed a:hover{
  color: #F94637 !important;
}

.navbar-brand img {
  height: 2rem;
}


.nav-item{
    margin-right: 30px;
    font-weight: bold;
    /* font-size: 20px; */
}

nav button{
color: red !important}