<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light" (scroll)='onscroll()' [ngClass]="navbarfixed?'fixed':'nofixed'">
        <a href="#" class="p-2 ml-3 navbar-brand">
            <img src="assets/images/logo.png" height="28" alt="CoolBrand">
        </a>
        <button type="button" class="navbar-toggler tagg" data-toggle="collapse" data-target="#navbarCollapse" >
            <span class="navbar-toggler-icon btn-danger"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarCollapse" >
            <div class="navbar-nav ml-auto pr-3">
                <a href="" class="nav-item nav-link">Home</a>
                <a href="all-quotes" class="nav-item nav-link">All Quotes</a>
                <a href="favourite" class="nav-item nav-link">Favourite</a>
                <a href="#" class="nav-item nav-link">My quotes</a>
            </div>
            <!-- <div class="navbar-nav ">
                <app-button color="#F94637" (logout)="handleLogout()" col="blue" text="login"></app-button>
            </div> -->
        </div>
    </nav>
</div>