<div class="bac">
    <app-nav></app-nav>
    <div class="container mt-5 mb-5 mx-auto" *ngIf="quotes.length > 0;">
        <div class="row">
            <div class="col-md-4" *ngFor="let quote of quotes">
                <div class="containers p-2 cont" (dblclick)="deleteQuote($event, quote)">
                    <div class="card-carousel">
                        <header>
                            <span id="pagination-count" class="pagination-count">{{thumpsUp}}</span>
                            <a [ngClass]="status ? 'success' : 'danger'" (click)="thumbUp()">
                                <span class="view">
                                    <i class="likes fas fa-thumbs-up"></i>
                                </span>
                            </a>
                            <a (click)="thumbDown()">
                                <span id="heart" class="heart">
                                    <i class="fas fa-thumbs-down"></i>
                                </span>
                            </a>

                        </header>
                        <div id="twentyfive" class="content-wrapper twentyfive">
                            <div class="content">
                                <p class="quote">{{quote.quote}}</p>
                                <p class="author">- {{quote.credit}}</p>
                            </div>
                        </div>
                        <p class="float-right date">1 minute ago</p>
                    </div>
                    <span id="hearted" class="hearted"></span>

                </div>
            </div>
        </div>
    </div>
    <div *ngIf="quotes.length == 0;" class="text-center mb-3 mx-auto container">
        <mat-card>
            <h1>No quotes created yet</h1>
            <img src="../../../assets/images/images.png" class="img-quote" alt="">
            <p>Quotes will be displayed here</p>
        </mat-card>
    </div>
    <app-footer></app-footer>
</div>