<section class="dev">
   <div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md-4 d-md-block d-none img">
            <img src="./assets/images/silikhe.png" alt="">
        </div>
        <div class="col-md-7 justify-content-center align-items-center">
            <div class="container conta m-auto p-4">
                <p class="title-1">The open source platform designed for the future. Build enterprise.</p>
                <p class="title-2 mt-4">A complete development kit for building scalable server-side apps. Contact us to find
                    out more about expertise consulting, on-site enterprise support, trainings, and private sessions.
                </p>
                <button class="btn custom-btn rounded-pill mt-4">Learn more about my projects</button>
            </div>
        </div>
    </div>
   </div>
</section>